<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="center" style="text-align:center">
  <h1>{{username}}</h1>
  <h1>{{firstname}} {{surname}}</h1>
  <p class="title">Balance: {{balance}}</p>
  <p>#userid: {{id}}</p>
</div>


<form #depositform="ngForm" (ngSubmit)="Deposit()">
  <div class="form-container form-group">
    <div class="personal-information">
      <h2>Deposit</h2>
    </div>
    <input type="hidden" id="deposit" [(ngModel)]="depositModel.username" name="deposit" #name="ngModel">
    <input type="text" class="form-control" id="deposit" [(ngModel)]="depositModel.deposit" name="deposit" #name="ngModel">
    <input id="input-button" class="form-control" type="submit" value="Submit" style="width:300px" [disabled]="!depositform.form.valid"
    />
  </div>
</form>
{{message}}
<form #withdrawal="ngForm" (ngSubmit)="Withdrawal()">
  <div class="form-container form-group">
    <div class="personal-information">
      <h2>Withdrawal</h2>
    </div>
    <input type="text" class="form-control" id="withdrawal" [(ngModel)]="withdrawalModel.withdrawal" name="withdrawal" #name="ngModel">
    <input id="input-button" class="form-control" type="submit" value="Submit" style="width:300px" [disabled]="!withdrawal.form.valid"
    />
  </div>
</form>