
<table class="table table-bordered" style="width:500px; margin:auto; margin-top: 50px">

  

  <tbody>
    <ng-container *ngFor="let p of specificPlayer;">

              <tr style="text-align: center">
                  <th>{{p.name}}</th>
                </tr>

            <tr>
              <td rowspan="9">
                <img src="http://localhost:3000/image/{{p.id}}.jpg" style="width: 100%; margin:auto">
              </td>

            </tr>

            <tr>
              <td>Birth Date</td>
            <td>{{p.birthDate}}</td>
          </tr>

            <tr>
                <td>College</td>
              <td>{{p.college}}</td>
            </tr>

            <tr>
                <td>Current cap hit</td>
              <td>{{p.caphit}}</td>
            </tr>

            <tr>
                <td>High School</td>
              <td>{{p.highschool}}</td>
            </tr>

            <tr>
                <td>Relatives</td>
              <td>{{p.relatives}}</td>
            </tr>

            <tr>
                <td>Twitter</td>
              <td>{{p.twitter}}</td>
            </tr>

            <tr>
              <td>Drafted</td>
            <td>{{p.teams.draft}}</td>
          </tr>
          <tr>
            <td>Current</td>
          <td>{{p.teams.current}}</td>
        </tr>

          
    </ng-container>

  </tbody>
</table>